In [1]:
import pandas as pd

In [2]:
# drop with columns with zero

In [3]:
df_2017 = pd.read_csv("2017_full_data.csv").drop('Unnamed: 0', axis=1)
df_2018 = pd.read_csv("2018_full_data.csv").drop('Unnamed: 0', axis=1)
df_2019 = pd.read_csv("2019_full_data.csv").drop('Unnamed: 0', axis=1)
df_2020 = pd.read_csv("2020_full_data.csv").drop('Unnamed: 0', axis=1)
df_2021 = pd.read_csv("2021_full_data.csv").drop('Unnamed: 0', axis=1)

In [4]:
df = pd.concat([df_2017, df_2018, df_2019, df_2020, df_2021])

In [5]:
data = df.drop(['Location ID', 'Location Name',
             'Location Type', 'Energy Component', 'Congestion Component', 
             'Marginal Loss Component', 'lag25', 'lag26', 'lag27', 'lag28',
       'lag29', 'lag30', 'lag31', 'lag32', 'lag33', 'lag34', 'lag35', 'lag36',
       'lag37', 'lag38', 'lag39', 'lag40', 'lag41', 'lag42', 'lag43', 'lag44',
       'lag45', 'lag46', 'lag47'], axis=1)

In [6]:
# Set date time column.

data = data[data['Hour_Ending'] != "02X"]

data['Hour_Ending'] = data['Hour_Ending'].astype(int)
data['Hour_Ending'] = data['Hour_Ending'] - 1
data['Date'] = pd.to_datetime(data['Date']) + pd.to_timedelta(data['Hour_Ending'], unit='h')
data = data.drop(['Hour_Ending'], axis=1)

In [7]:
data

,Date,LMP,Total_Load,lag24,lag48,last_day_LMP,month,day,tot_solar_mwh,tot_wind_mwh
0,2017-01-03 00:00:00,31.10,11904.59,19.42,36.54,28.081667,1,3,0.0,194.959
1,2017-01-03 01:00:00,15.93,12049.51,34.31,37.13,28.081667,1,3,0.0,235.896
2,2017-01-03 02:00:00,22.54,12077.30,30.00,35.99,28.081667,1,3,0.0,242.466
3,2017-01-03 03:00:00,33.35,11908.61,28.29,34.28,28.081667,1,3,0.0,260.736
4,2017-01-03 04:00:00,34.60,12012.43,31.26,35.65,28.081667,1,3,0.0,325.264
...,...,...,...,...,...,...,...,...,...,...
8707,2021-12-31 19:00:00,33.73,14183.77,36.82,38.67,36.040417,12,31,0.0,121.746
8708,2021-12-31 20:00:00,31.14,13515.28,42.25,37.23,36.040417,12,31,0.0,152.635
8709,2021-12-31 21:00:00,31.18,12888.40,35.42,37.29,36.040417,12,31,0.0,119.166
8710,2021-12-31 22:00:00,31.11,12217.09,32.13,38.10,36.040417,12,31,0.0,107.843
8711,2021-12-31 23:00:00,29.67,11758.36,30.12,37.40,36.040417,12,31,0.0,92.808

In [8]:
data.to_csv('2017_2020_data.csv')